# ===============================
# Miscellaneous
# ===============================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ===============================
# IntelliJ / Android Studio
# ===============================
*.iml
*.ipr
*.iws
.idea/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Flutter / Dart / Pub
# ===============================
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# ===============================
# Firebase (IMPORTANT – DO NOT COMMIT)
# ===============================
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart


# ===============================
# Android
# ===============================
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# ===============================
# iOS
# ===============================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# ===============================
# Symbolication / Obfuscation
# ===============================
app.*.symbols
app.*.map.json
